<%- include('includes/header'); %>

    <% let Title; %>

    <% if (doc.id) { %>

        <% Title = 'Redigera Dokument'; %>
    <% } else { %>

        <% Title = 'Skapa Nytt Dokument'; %>
    <% } %>

    <h1><%= Title %></h1>

<%- include('includes/footer'); %>
