<%- include('includes/header'); %>
    <h2>Dokument</h2>

    <% if (docs.length > 0) { %>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>
    <% } else { %>
        <p>No files</p>
    <% } %>
<%- include('includes/footer'); %>
